.card-container {
  min-height: 300px;
  display: grid;
  align-items: center;
  border: 2px solid #D2B48C;
  grid-template-columns: auto 1fr auto;
  background-color: #F5DEB3;
  animation-name: card-animation;
  animation-duration: 2s;
  will-change: transform;
}

@keyframes card-animation {
  0% {
    opacity: 0;
    transform:scaleX(0) 
  }
}

.card-container > div:nth-child(even) {
  padding: 2rem 0 2rem 0;
}
