.add {
  font-size: 15px;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 6px 14px;
  border: 2px solid gray;
  border-top: none;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: black;
}

.go-back {
  width: 10px;
  height: auto;
  justify-items: center;
  border-radius: 2px;
  cursor: pointer;
  will-change: transform;
}

.go-back:hover {
  transform: scale(1.4);  
}