*, h4:where(.css-dev-only-do-not-override-qnu6hi).ant-typography {
  font-family: "Caveat", "Reenie Beanie", "Pacifico", cursive, sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p {
  
}

h4:where(.css-dev-only-do-not-override-qnu6hi).ant-typography {
  text-transform: uppercase;
}

body {
  margin: 0;
  background-color: #FFFFF8;
  background-image: linear-gradient(to right, #8080800A 2px, transparent 2px),
    linear-gradient(to bottom, #8080800A 2px, transparent 2px);
  background-size: 32px 32px;
}
